.bottom-menu[data-v-1a08109c] {
    width: 100%;
    transition: all .5s !important;
    height: 5vw;
    background: url(./bottom-menu-DgIZX8Zu.png) no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    pointer-events: none
}

.bottom-menu .btm-menu-list[data-v-1a08109c] {
    width: 38vw;
    height: 3vw;
    position: absolute;
    left: 0;
    right: 0;
    top: .7vw;
    margin: 0 auto;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: auto
}

.bottom-menu .btm-menu-list div[data-v-1a08109c] {
    color: #fff;
    line-height: 3vw;
    flex: 0 0 18%;
    text-align: center;
    padding: 0 .4vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    font-size: .85vw
}

.bottom-menu .btm-menu-list div.area-active[data-v-1a08109c] {
    font-weight: 700;
    background: url(./classify-active-_ttvKOjI.png) no-repeat;
    background-size: 100%;
    background-position: center
}

.bottom-menu .aera_list[data-v-1a08109c] {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-bottom: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}

.bottom-menu .aera_list .aera_color[data-v-1a08109c] {
    width: 41vw;
    pointer-events: auto
}

.bottom-menu .aera_list .aera_color .aera_box[data-v-1a08109c] {
    display: inline-flex;
    cursor: pointer
}

.bottom-menu .aera_list .aera_color .aera_box .bg_color[data-v-1a08109c] {
    width: .65vw;
    height: .65vw;
    border-radius: .5vw;
    margin: auto 0;
    margin-right: .3vw
}

.bottom-menu .aera_list .aera_color .aera_box .txt[data-v-1a08109c] {
    color: #fff;
    font-size: .7vw;
    line-height: 2.4vh;
    margin-right: .8vw
}