.longIcon[data-v-1b8bfd69] {
    background-image: url(./longIcon-C5xBBpoP.png)
}

.shortIcon[data-v-1b8bfd69] {
    background-image: url(./shortIcon-BSf4YFHd.png)
}

.wea-chart-title[data-v-1b8bfd69] {
    width: 100%;
    margin-bottom: 14px;
    height: 42px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    white-space: nowrap
}

.wea-chart-title .title1[data-v-1b8bfd69] {
    position: absolute;
    left: 0;
    letter-spacing: 2px;
    top: 50%;
    transform: translateY(-50%);
}

.wea-chart-title .title2[data-v-1b8bfd69] {
    position: absolute;
    left: 150px
}

.wea-chart-title h3[data-v-1b8bfd69],
.wea-chart-title span[data-v-1b8bfd69],
.wea-chart-title p[data-v-1b8bfd69] {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-style: italic;
    color: #fff
}

.wea-chart-title h3[data-v-1b8bfd69] {
    margin-left: 2.2vw;
    font-size: .85vw;
    font-family: Source Han Sans CN;
    font-weight: 700;
    line-height: 32px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%)
}

.wea-chart-title span[data-v-1b8bfd69] {
    margin-left: 20px;
    font-size: 12px;
    font-family: Arial;
    font-weight: 400;
    line-height: 33px;
    background: linear-gradient(0deg, #fff, #98deff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.wea-chart-title p[data-v-1b8bfd69] {
    width: 150px;
    height: 7px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJUAAAAHCAYAAAABDA8HAAAAAXNSR0IArs4c6QAAAVRJREFUWEftmD8vQ2EUh3+/9724tzUQEqmIyeAL+BcLo81SZqGD60/5AtWKTUKQXFMHg6kiVl9AKjH7BBWTxNRWuedIm5Qu7Sd4z/LmWZ88OXlziM5ZOAuClDdSU1NL9OEAwIZAIluXovp2G+CWY+ejew/IKHHPv6byeYOnZABfjO8HaSpzMCiLxEdUM0fy2LHz0bMH4iVWFP6jghIrV/3JQbsslAsoKoI4JDlO5TXAN8fOR48e3mPoTqO0/9qOiljK22B0eJbGXgIiiBm2tphl1Hpjdex8dOvBqGKvVtotA83t1Bpl/3o0bUUikClVDfWHFeM12Uw4dj669gBMUpmt3n08Anlp1kSk03YAi1OG3glUZ1Q1p5RnY2wBgnnHzkfPHgwKdRm7RWmt0f6fE6vnQwnPy8IwA5UivySKfbNpwBCqjp2P7j2AN9XG9ykeDj87jwi/QbZFA+COjGwAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 16.5%;
    top: 0;
    bottom: 1px;
    margin: auto 0
}

.wea-chart-title .wea-chart-subtitle[data-v-1b8bfd69] {
    display: inline-block;
    margin-left: 30px
}